@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

a{
    text-decoration: none;
    color: #000;
    padding: 0.5rem;
}

.speedbox{
    display: none;
}

.social{
    padding: 1rem;
}
